!!! 5
%html{lang: I18n.locale}
  %head
    = render "layouts/rails_admin/head"
    :css
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
      }

      form.new_admin {
        max-width: 450px;
        padding: 15px;
        margin: 0 auto;
      }

  %body.rails_admin
    .container-fluid
      .row
        = yield
